.enrollment_display {
  width: 500px;
  height: auto;
  background-color: $color4;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .consigne {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
  }

  .form-group input {
    text-align: center;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-top: 10px;

    &:focus {
      outline: none;
    }
  }

  .form-group select {
    text-align: center;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-top: 10px;

    &:focus {
      outline: none;
    }
  }

  .form-group button {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid $color3;
    padding: 5px;
    margin-top: 10px;
    background-color: $color3;
    color: $color4;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover {
      background-color: $color1;
      color: $color3;
      border: $color1;
    }

    &:active {
      background-color: $color2;
      color: $color3;
    }
  }
}
